.footer {
    display: flex;
    align-items: center;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #292929;
}